/* Created by: Shanea Jaromay
* Created on: February 2025
* This file contains the CSS for index.html
*/
body {
  background-color: #ffffc3;
}

h1 {
  background-color: #b0e6b4;
  color: hsl(147, 50% 47%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #b0e6b4;
}
